@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    font-family: 'Lato', sans-serif;
}

body {
    min-height: 100%;
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 250px;
    right: 0px;
    top: 0px;
    bottom: 0px;  
    /* background-color: white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2); */
    overflow-y: auto;
    overflow-x: hidden;
}

/* Sidebar */

#sidebar {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 100%;
    max-width: 250px;
    min-width: 200px;
    z-index: 1;
    opacity: 1;
    transition: opacity 0.2s;
}

#sidewrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#pfp {
    height: 150px;
    width: 150px;
    margin: 15px;
    overflow: hidden;
    object-fit: cover;
    object-position: 0px -20px;
}

.info {
    margin: 5px;
    text-align: center;
}

h1.info {
    font-size: 1.3em;
}

h2.info {
    font-size: 1em;
    font-weight: normal;
}

/* Main Content */

#links {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.btn {
    background-color: grey;
    color: black;
    border: none;
    width: 150px;
    margin: 5px;
    padding: 15px;
    text-align: center;
    text-decoration: none;
}

.btn-grad {background-image: linear-gradient(to right, #232526 0%, #414345  51%, #232526  100%)}
.btn-grad {
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 10px #000;
   border-radius: 10px;
   display: block;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }

 .menu {
    display: none;
    opacity: 0;
    transition: opacity 0.2s;
 }

 .b1, .b2, .b3 {
    width: 30px;
    height: 2px;
    background-color: black;
    margin: 6px 0px;
    transition: 0.4s;
 }

 #mobile {
    display: none;
 }

 /* Mobile CSS */

@media screen and (max-width: 600px) {
    #sidebar {
        opacity: 0;
        transition: opacity 0.2s;
    }

    #mobile {
        display: block;
    }

    .menu {
        display: inline-block;
        position: absolute;
        top: 10px;
        left: 10px;
        cursor: pointer;
        z-index: 2;
        opacity: 1;
        transition: opacity 0.2s;
    }

    main {
        left: 0px;
    }
}